.login_wrap{
    height: 100vh;
    background: linear-gradient(rgb(22, 23, 24, 0.8), rgb(22, 23, 24, 0.8)), url("/assets/image/back/login_back.jpg"); //../../assets/image/back/login_back.jpg?
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}